* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* max-width: 1170px; */
    margin: 0 auto;
    background-color: blue;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    border: 1px solid black;
}

.col-1 {
    flex-basis: calc((100% / 12) * 1);
    height: 100%;
    border: 1px solid white;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    height: 100%;
    border: 1px solid white;
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    height: 100%;
    border: 1px solid white;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    height: 100%;
    border: 1px solid white;
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
    height: 100%;
    border: 1px solid white;
}
.col-6 {
    flex-basis: calc((100% / 12) * 6);
    height: 100%;
    border: 1px solid white;
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
    height: 100%;
    border: 1px solid white;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
    height: 100%;
    border: 1px solid white;
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
    height: 100%;
    border: 1px solid white;
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    height: 100%;
    border: 1px solid white;
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
    height: 100%;
    border: 1px solid white;
}
.col-12 {
    flex-basis: calc((100% / 12) * 12);
    height: 100%;
    border: 1px solid white;
}