
/* PALETTE COLOR */
:root {
    --box-color: rgba(0,108,250,255);
    --box-border: white;
}


[class*="col-"] {
    background-color: var(--box-color);
    height: 50px;
    border: 1px solid   var(--box-border)
}

/* TITLES */
h1 {
    text-align: center;
    margin: 1rem;
}


.col {
    flex-grow: 1;
    flex-basis: 0;    
    max-width: 100%;
    border: 1px solid var(--box-border);
}